<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="AWSProfileName" value="ecoppia_shared_profile"/>
    <add key="AWSProfilesLocation" value="C:\EcoppiaCMM\environment\aws"/>
    <add key="AWSRegion" value="us-west-2"/>-->
    <add key="AWSLogging" value="log4net"/>   
  </appSettings>
 
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
